html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#gantt {
  width: 100%;
  height: 92%;
}

.gantt_cell {
  cursor: pointer;
}

.gantt_btn_set.gantt_delete_btn_set {
  background: #d9534f;
  opacity: 0.9;
}

.gantt_btn_set.gantt_delete_btn_set:hover {
  opacity: 1;
}

.dhx_calendar_cont input {
  width: 96px;
  padding: 0;
  margin: 3px 10px 10px;
  font-size: 11px;
  height: 17px;
  text-align: center;
  border: 1px solid #ccc;
  color: #646464;
}

.dhtmlxcalendar_dhx_skyblue,
.dhtmlxcalendar_dhx_web,
.dhtmlxcalendar_dhx_terrace,
.dhtmlxcalendar_dhx_material {
  z-index: 999999 !important;
}

.taskbar-wrapper .btn-primary {
  float: right;
}

.taskbar {
  background: #1b365d;
}

.taskbar button {
  margin: 20px;
}

.deadline {
  position: absolute;
  border-radius: 12px;
  border: 2px solid #585858;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  z-index: 1;
  background: url("../img/deadline_icon.png") center no-repeat;
}

.overdue-indicator {
  width: 20px;
  margin-top: 5px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 17px;
  color: white;
  background: rgb(255, 60, 60);
  line-height: 20px;
  text-align: center;
  font-size: 18px;
}

.fa {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  padding: 5px;
}

.fa:hover {
  opacity: 1;
}

.fa-pencil {
  color: #ffa011;
}

.fa-plus {
  color: #328ea0;
}

.fa-times {
  color: red;
}
