html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.taskbar button {
  margin: 20px;
}

.taskbar button:hover {
  cursor: pointer;
}

.taskbar .dark-outline,
.taskbar .red-outline {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 1.5rem;
  border-style: solid;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.dark-outline {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.dark-outline:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.dark-outline:active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.dark-outline:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.5);
  outline: 0;
}

.red-outline {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.red-outline:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.red-outline:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
  outline: 0;
}

.red-outline:active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;  
}

#gantt {
  width: 100%;
  height: 92%;
}

.gantt_cell {
  cursor: pointer;
}

.gantt_task_progress {
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
}

.gantt_btn_set.gantt_delete_btn_set {
  background: #dc3545;
  opacity: 0.8;
}

.gantt_btn_set.gantt_delete_btn_set:hover {
  opacity: 1;
}

.deadline {
  position: absolute;
  border-radius: 12px;
  border: 2px solid #585858;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  margin-top: 2px;
  z-index: 1;
  background: url("../img/deadline_icon.png") center no-repeat;
}

.dhx_calendar_cont input {
  width: 96px;
  padding: 0;
  margin: 3px 10px 10px;
  font-size: 11px;
  height: 24px;
  text-align: center;
  text-indent: 17px;
  border: 1px solid #ccc;
  color: #646464;
  background-image: url('../img/calendar.png');
  background-repeat: no-repeat;
  background-position: 2px 3px;
  cursor: pointer;
}

.dhtmlxcalendar_material {
  z-index: 999999 !important;
}

.overdue-indicator {
  width: 20px;
  margin-top: 5px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 17px;
  color: white;
  background: #ff3c3c;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
}

.not-overdue {
  width: 20px;
  margin-top: 5px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 17px;
  color: white;
  background: #0c0;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
}

.fa {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  padding: 5px;
}

.fa:hover {
  opacity: 1;
}

.fa-pencil {
  color: #ffa011;
}

.fa-plus {
  color: #328ea0;
}

.fa-times {
  color: #dc3545;
}
