html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

#gantt {
  width: 100%;
  height: 100%;
}

.form-bg {
  background: linear-gradient(to right, #014d6f 10%, #2b8e8b);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.form-horizontal .form-group {
  margin-bottom: 30px;
}
.form-horizontal .form-control {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 44px;
  line-height: 2;
  color: #fff;
  padding: 10px 15px;
}
.form-horizontal .form-control:focus {
  border-color: #fff;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
  outline: 0 none;
}
.form-horizontal .form-control::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.form-horizontal .check {
  display: none;
}
.form-horizontal .check + label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px 0;
  color: #fff;
  width: 48.4%;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
}
.form-horizontal #check2 + label {
  margin-right: 0;
}
.form-horizontal .check:checked + label {
  background: #fff;
  color: #0062bd;
}
.form-horizontal select.form-control option {
  color: #000;
  background: #fff;
}
.form-horizontal .btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  transition: all 0.2s ease 0s;
  margin: 0 auto;
}
.form-horizontal .btn:hover {
  color: #0062bd;
  background: #fff;
}
@media only screen and (max-width: 479px) {
  .check + label {
    width: 48%;
  }
}
